body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f7ef;
}
header, footer {
    background-color: #315b38;
    color: white;
    padding: 20px;
    text-align: center;
}
header {
    background-color: #315b38;
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url('../img/vivero.jpg');
    background-position: bottom;
    height: 150px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 8px;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: #315b38;
    padding: 10px;
    border-radius: 50px;
}

main {
    width: 90%;
    margin: 20px auto;
}
h2, h3 {
    color: #315b38;
}
a {
    color: #315b38;
}
section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}
